/*-- scss:defaults --*/
$backgroundColor: #fdfdfd;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$mainFontSize: 34px;          // bump up for readability
$headingColor: #2c5f7c;       // soft blue headings
$linkColor: #1a6fa8;
$code-block-font-size: 0.65em;